.highlight-card {
    background-color: white;
    padding: 25px;
    align-items: center;
    border-radius: 10px;
    width: 300px;
    height: 50%;
}

.highlight-card-row {
    justify-content: space-between;
}