.forecast-card {
    background-color: hsl(0deg 0% 100%);
    padding: 20px;
    margin: 0px 5px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    height: 120px;
    width: 50%;
}

.active {
    border-color: rgba(0, 153, 255, 0.987);
    border-style: solid;
}