.forecast-card {
    background-color: white;
    padding: 30px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 100px
}

.active {
    border-color: rgba(0, 153, 255, 0.987);
    border-style: solid;
}